/* ============================
   Root Variables
   ============================ */
   :root {
    /* Colors */
    --primary-dark: #121724;
    --neutral-gray: #d3d7de;
    --accent-blue: #1E90FF;
    --highlight-yellow: #EEFF00;
    --light-gray: #F3F4F6;
    --background-primary: var(--primary-dark);
    --background-secondary: #1F2A37;
    --highlight-gradient: linear-gradient(135deg, rgba(255, 255, 0, 1) 0%, rgba(255, 204, 0, 0.8) 40%, rgba(255, 153, 0, 0.6) 70%, rgba(255, 102, 0, 0.2) 100%);
    --button-border: rgba(255, 255, 255, 0.3);
    /* Fonts */
    --font1: 'Poppins';
    --font2: 'Orbitron';
    --font-size-base: 1.6rem;
    --font-size-h1: 5.2rem;
    --font-size-h2: 4.4rem;
    --font-size-h4: 2.5rem;
    --highlight-font-size: 8vw;
    --button-font-size: var(--font-size-base);
    --hero-font-size: 1.8rem;
    /* Transitions */
    --transition: all 400ms ease;
    /* Dimensions */
    --container-max-width: 1600px;
    --section-padding: 10rem;
    --hero-padding: 16rem 0;
    --circle-size: 150px;
    /* Button Styling */
    --button-padding: 20px 25px;
}

/* ============================
   Global Styles and Resets
   ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

/* ============================
   Body & Global Text Styling
   ============================ */
body {
    font-family: var(--font1);
    background-color: var(--background-primary);
    color: var(--neutral-gray);
    font-size: var(--font-size-base);
    -webkit-font-smoothing: antialiased;
}

html, body {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

/* ============================
   Container Styling
   ============================ */
.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    width: 100%;
    padding: 0 14rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font2);
    line-height: 1.2;
}

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h4 { font-size: var(--font-size-h4); }

.highlight {
    color: var(--highlight-yellow);
    font-weight: bold;
}

.highlight-star {
    animation: rotate 15s linear infinite;
    width: 60px;
    height: 60px;
    display: inline-block;
}

/* Button Styling */
.primary-btn, .secondary-btn {
    outline: none;
    padding: var(--button-padding);
    min-width: 250px;
    text-align: center;
    font-size: var(--button-font-size);
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 8px;
    font-family: var(--font1);
    transition: var(--transition);
}

.secondary-btn:hover,
.primary-btn:hover{
    transform: scale(0.95) rotate(-3deg); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
}
.secondary-btn:hover{
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.2); 
}
.primary-btn:hover{
    box-shadow: 0px 8px 15px rgba(229, 255, 0, 0.2); 
}

.primary-btn {
    background-color: var(--highlight-yellow);
    border: 1px solid var(--highlight-yellow);
    color: var(--primary-dark);
}

.secondary-btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--button-border);
    color: var(--neutral-gray);
}

/* ============================
   PreLoader Styling
   ============================ */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preloader-content {
    font-size: var(--highlight-font-size);
    font-family: var(--font2);
    color: var(--highlight-yellow);
    position: absolute;
    opacity: 0;
    top: 50%;
    font-weight: 700;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.preloader-left, .preloader-right {
    width: 100%;
    height: 50vh;
    background-color: #0D1117;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============================
   Header Section Styling
   ============================ */
header {
    background-color: transparent;
    padding: 3rem 0;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    min-height: 80px;
    transition: var(--transition);
}

header.scrolled {
    background-color: rgba(36, 2, 54, 0.608);
    backdrop-filter: blur(10px);
    padding: 1rem 0;
}

.light-img {
    position: absolute;
    right: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 100px;
    height: auto;
}

nav .header-menu {
    display: flex;
    gap: 2rem;
}

nav .header-menu li a {
    color: var(--light-gray);
    text-transform: uppercase;
    font-family: var(--font1);
    transition: var(--transition);
}

nav .header-menu li a:hover {
    color: var(--accent-blue);
}

.menu_icons svg {
    width: 30px;
    height: 30px;
}

.hidden {
    display: none;
}

#menuIcon,
#closeIcon {
    display: none;
    cursor: pointer;
}

/* ============================
   Hero Section Styling
   ============================ */
.hero-section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: var(--hero-padding);
    z-index: 10;
}

.light {
    position: absolute;
    top: 60px;
    right: 0;
    width: 600px;
    height: auto;
    z-index: 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero-left {
    width: 50%;
}

.hero-left h1 {
    color: var(--light-gray);
}

.hero-left p {
    font-family: var(--font1);
    color: var(--neutral-gray);
    font-size: var(--hero-font-size);
    max-width: 600px;
    margin: 1.5rem 0;
}

.hero-left .hero-btns {
    margin: 5.5rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: end;
    width: 100%;
    height: auto;
    justify-content: center;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/images/common/herobackgound.png');
    align-items: center;
    border-radius: 50%;
}

.hero-right .hero-right-start {
    position: absolute;
    top: 0;
    right: 12rem;
    width: 100px;
    animation: rotate 10s linear infinite;
    height: auto;
}

.hero-right img {
    width: 100%;
    height: auto;
}
/* ============================
   About Section Styling
   ============================ */
   .about-section {
       background-color: var(--background-secondary);
       position: relative;
       z-index: 10;
}

.rounded-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: -100px;
    background-color: var(--primary-dark);
}

.rounded-wrapper .rounded-div {
    position: absolute;
    border-radius: 50%;
    top: 0;
    z-index: 999;
    left: 50%;
    width: 150%;
    height: 750%;
    background-color: var(--background-secondary);
    transform: translate(-50%);
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: var(--section-padding) 0;
    gap: 5rem;
}

.about-container .about-left {
    background-image: url('../images/common/herobackgound.png');
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    background-position: 60px 30px;
    position: relative;
}

.about-container .about-left img {
    max-width: 600px;
    height: auto;
    display: block;
}

.about-container .about-right {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: var(--gap-medium);
}

.about-section .about-right p {
    font-size: 1.6rem;
    color: var(--neutral-gray);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* ============================
   Services Section Styling
   ============================ */



/* ============================
   Services Section Styling
   ============================ */

   .rounded-wrapper1 {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: -100px;
    background-color: var(--primary-dark);
}

.rounded-wrapper1 .rounded-div1 {
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    z-index: 99;
    left: 50%;
    width: 150%;
    height: 750%;
    background-color: var(--background-secondary);
    transform: translate(-50%);
}

.services-container{
    padding: var(--section-padding) 0;
}

.services-container .light2 {
    position: absolute;
    top: -10rem;
    z-index: -1;
}

.services-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    margin-bottom: 10rem;
}

.services-heading h4 {
    font-weight: 600;
    font-family: var(--font1) !important;
}

.services-heading p {
    font-size: 1.8rem;
    max-width: 800px;
}

.services-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 5.7rem 2.3rem;
}

.services-grid .service-card {
    padding: 3.2rem 2.5rem;
    border-radius: 15px;
    background: linear-gradient(145deg, var(--background-secondary), #2B3444);
    color: var(--light-gray);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding-top: 8rem;

    &:hover {
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15), 0 8px 15px rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
}

/* Icon Styling */
.service-card .icon {
    margin-bottom: 1rem;
    padding: 15px;
    position: absolute;
    top: -40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.2);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 252, 252, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Icon Hover Effect */
.service-card:hover .icon {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* Icon SVG Styling */
.service-card .icon svg {
    width: 3.5rem;
    height: 3.5rem;
    color: white;
}

/* Heading Styling */
.service-card h3 {
    margin-bottom: 15px;
    color: var(--highlight-yellow);
}

/* Paragraph Text Styling */
.service-card p {
    font-size: 1.6rem;
    color: #D1D5DB;
    line-height: 1.6;
    margin-top: 1.5rem;
}

/* ============================
   portfolio Section Styling
   ============================ */

   .portfolio-title {
    background: var(--primary-dark);
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
}

.portfolio-title h1 {
    font-size: 10vw;
}

.char {
    display: inline-block;
}

.portfolio-section {
    background: transparent;
}

.portfolio-card {
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 4rem;
    margin: 4rem 0;
    padding: 6rem 0;
}

.row-reverse {
    flex-direction: row-reverse;
}

.portfolio-card .project-img {
    width: 60%;
}

.portfolio-card .project-img img {
    width: 100%;
    height: auto;
}

.portfolio-card .project-detail {
    width: 40%;
    margin-top: 2rem;
}

.project-detail h2 {
    font-size: 3.5rem;
}

.portfolio-card .project-detail p {
    font-size: 1.5rem;
    color: #D1D5DB;
    margin-top: 2rem;
}

.project-detail a {
    background-color: var(--highlight-yellow);
    display: inline-block;
    margin-top: 4rem;
    border-radius: 8px;
    color: var(--primary-dark);
    padding: 14px 27px;
    transition: var(--transition);
}
.project-detail a:hover{
    transform: scale(0.95) rotate(-3deg); 
    box-shadow: 0px 8px 15px rgba(255, 221, 0, 0.2); 
}

/* ============================
Contact Section Styling
   ============================ */
   .contact-section {
    background-color: transparent;
    color: var(--light-gray);
    padding: var(--section-padding) 0;
    position: relative;
}

.contact-section h2 {
    text-align: center;
    font-family: var(--font2);
    color: var(--highlight-yellow);
    margin-bottom: 5rem;
}

.contact-container {
    background-color: rgba(255, 252, 252, 0.038);
    border-radius: 1rem;
    padding: 6rem 5rem 10rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: clamp(300px, 95%, 1000px);
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    z-index: 11;
    backdrop-filter: blur(10px);
}

.circle-right,
.circle-left {
    background: var(--highlight-gradient);
    width: 150px;
    height: 150px;
    box-shadow: 0 0 50px rgba(255, 204, 0, 0.5), 0 0 100px rgba(255, 153, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.circle-left {
    left: 200px;
}

.circle-right {
    right: 200px;
    bottom: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contact-form textarea,
.contact-form input {
    width: 100%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: var(--light-gray);
    resize: none;
    padding: 20px 16px;
    border-radius: 8px;
    border: 1px solid rgba(255, 252, 252, 0.2);
    box-shadow: 0 10px 30px rgba(255, 252, 252, 0.1);
}

.contact-form textarea {
    height: 150px;
}

/* Input Group Styling */
.contact-form .inputs-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.inputs-wrapper input {
    flex: 1;
    width: 100%;
}

.contact-form .input-wrapper {
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
}

/* Form Layout and Spacing */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 100%;
}

.contact-form button{
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}
/* =======================
   Footer Styling
   ======================= */
footer {
    background-color: rgba(255, 252, 252, 0.038);
    border-top: 1px solid rgba(251, 255, 255, 0.4);
    padding: 4rem 0;
    text-align: center;
    margin-top: 3rem;
    font-family: var(--font1);
    color: var(--light-gray);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes borerAnimate {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
}
